*{
    font-family: 'Nanum Gothic', sans-serif;
}
#hello{
    background-color: black;
    margin: 0;
    padding: 0;

    color: white;
    text-align: center;
}
#introduce{
    margin: 5px 0px 0px 7px;
}
body{
    margin: 0;
    display:grid;
    grid-template-columns: 400px 3fr;
}
@keyframes h1_animation{
    0% {color: white;}
    25%{color: #B9FFFC;}
    30%{color: #A3D8F4;}
    75%{color: #9AB3F5;}
    100%{color: #7579E7;}
}
h1{
    position: fixed;
    text-align: center;

}
h1:hover{
    animation-name: h1_animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.song{
    text-align: center;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
    padding: 1.3em 0 0.5em 0;
}
li:hover{
    color: #c4302b;
}
@media(max-width:980px){
    body{
        display: block;
    }
    h1{
        color: black;
        position: relative;
        color: white;
        margin-top: 0;
        padding: 1.5em;
    }
}